<div class="row">
  
  <div class="col-md-4">
    <div class="text-center">
      <%= render "layouts/object_profile", obj: @pet %>
      <br>
      <%= link_to "このペットを登録から削除する", @pet, method: :delete, data:{confirm:"本当にリストから削除してよろしいですか?"},class:"btn btn-danger btn-xs" %>
      
    </div>
  </div>

  <div class="col-md-8">
    <div class="profile_form">
      <%= render "layouts/profile_form.html", obj: @pet %>
    </div>
  </div>
  
</div>