<div class="row">
  
  <div class="col-md-3">
    <div class="icon text-center">
      <img src="/images/free_image_pet.jpeg" alt="no-image" class="img-circle img-lg">
      <div class="obj_pfofile_name">
        <h1>Name</h1>
      </div>
      <div class="make_profile_info">
        <h3>Profile</h3>
      </div>
    </div>
  </div>
  
  
  <div class="col-md-8">
    <div class="profile_form">
      <%= render "layouts/profile_form", obj: @pet %>
    </div>
  </div>
  
</div>