<div class="row">
  
  <div class="col-md-4">
    <div class="text-center">
      <%= render "layouts/object_profile", obj: @user %>
    </div>
  </div>
  
  <div class="col-md-8">
    <div class="profile_form">
      <%= render "layouts/profile_form", obj: @user %>
    </div>
  </div>
  
</div>