<ul class="media-list text-center">
  
  <% timelines.each do |timeline| %>
  
    <li class="media">
      
      <div class="media-left">
          <img src="/images/free_image_pet.jpeg" alt="no-image" class="img-circle img-lg">
            <%= link_to timeline.user.name, user_path(timeline.user) %>
      </div>
      
      <div class="media-body text-left">
        <h4><%= timeline.content %></h4>
      </div>
      <span class="text-muted">
        <%= timeline.created_at %>
      </span>
      <span class="media_good_btn">
        <a href="#" class="btn btn-success">Good</a>
      </span>
      <% if current_user == timeline.user %>
        <%= link_to "削除", timeline, method: :delete, data:{confirm: "削除してよろしいですか?"}, class:"btn btn-danger" %>
      <% end %>

    </li>
  
  <% end %>
  
</ul>