
<div class="obj-profile">

  <div class="icon text-center">
    <%= render "layouts/icon_img", obj: obj %>
    <div class="obj_pfofile_name">
      <h1><%= obj.name %></h1>
    </div>
    <div class="profile_info">
      <h3><%= obj.profile %></h3>
    </div>
  </div>
  
</div>
