<div class="obj-profile">
  

    <div class="icon text-center">
      <img src="/images/free_image_pet.jpeg" alt="no-image" class="img-circle img-lg">
      <div class="obj_pfofile_name">
        <h1><%= obj.name %></h1>
      </div>
      <div class="profile_info">
        <h3><%= obj.profile %></h3>
      </div>
    </div>
  



</div>